html, body, div, span, h1, h2, p, a, img, strong, ul, li, button, footer, header {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
*, :after, :before {-webkit-box-sizing: border-box; box-sizing: border-box;}
a, button, div {outline: none;}
ul {list-style: none; display: block;}
img {border: none;}

/* grid */
html, body, .wrap {height: 100%;}
.ship {border: 2px solid;}

body {font-size: 18px; line-height: 24px; color: #4530af;}
p {margin-bottom: 10px;}

.btn-play {
    width: 150px;
    height: 45px;
    display: block;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid;
}

.text-center {text-align: center;}
.clearfix:before, .clearfix:after {display:table; content:'';}
.clearfix:after {clear:both;}

[data-hidden="true"] {display:none !important;}
.block {display:block;}

.wrapper {width: 860px; height: 530px; position: relative; margin: 0 auto;}
.text-top {font-size: 30px; line-height: 70px; text-align: center; margin-bottom: 10px;}
.text-btm {color: #4530af; text-align: center; padding-top: 10px;}

.outer {margin-bottom: 20px;}
.field {
    position: relative;
    display: inline-block;
    margin-left: 90px;
}

.ships {
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.ship {height: 30px; position: absolute;}
.ship.success{border-color: green;}
.ship.unsuccess{border-color: red;}
.vertical {transform: rotate(90deg); transform-origin: 15px 15px;}

.fourdeck {width: 120px;}
.tripledeck {width: 90px;}
.doubledeck {width: 60px;}
.singledeck {width: 30px;}

.instruction {
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
    margin-left: 30px;
    display: inline-block;
}

.type-placement-box {line-height: 34px; padding-bottom: 18px;}
.type-placement-box .link {font-size: 20px; border-bottom: dashed 2px #4530af; cursor: pointer;}

.initial-ships li {height: 35px; position: relative; overflow: hidden; margin-top: 10px;}
.initial-ships .ship {left: 0; top: 0; float: left; cursor: move;}

.icon-field {width: 30px; height: 30px; position: absolute; z-index: 5;}
.red-cross {
    font-size: 30px;
    text-align: center;
    line-height: 100%;
    transform: rotate(45deg);
    color: red;
    font-weight: bold;
}
.red-cross:after {
    content: '+';
}
.shaded-cell {background-position: -410px -100px;}
.dot {
    margin: -15%;
    width: 30%;
    height: 30%;
    background-color: blue;
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 50%;
}